<!DOCTYPE html>
<html>
<head>
<% include header_scripts %>
<script type='text/javascript' src='index.js'></script>
<link rel="stylesheet" href="index.css" type="text/css"></link>
</head>

<body>

	<% include navigation %>
		<br><br><br><br><br>	
	<div style="width:50%;margin:auto;border:1px solid white;min-height: 300px;padding:10px; background-color: white">
		
		<h4 ><%= numProducts %> items in cart. </h4>
		<% var total = 0 %>
		<table>
			<tr><th>Item</th><th style="text-align: right">Price</th></tr>
			<% for (i in products) { %>
				<tr>
					<td style=""><%= products[i].name %></td> 
					<td style="text-align:right;min-width: 120px">$<%= products[i].price %></td>
				</tr>
				<% total += parseFloat(products[i].price) %>

			<% } %>	
		</table>

		<div>
			<h4> Total Price: $<%= total.toFixed(2) %>
		</div>
		<button id="checkout">Check Out</button>
	</div>
	<script type="text/javascript">
		$("#checkout").click(function() {
			document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
			location.href = "/";

		});

	</script>
</body>

</html>