<!DOCTYPE html>
<html>
<head>
<% include header_scripts %>
<script type='text/javascript' src='index.js'></script>
<link rel="stylesheet" href="index.css" type="text/css"></link>
</head>

<body>
	<% include navigation %>
	<br><br>
	<div style="margin-top: 30px;">
	<% for (i in products) { %>

		<div class="category" >
			<div id="category_header">
				<a href ="/search?refine=cgid=<%= i %>" ><h3 class="category_name"><%= home_categories[i].name %></h3>
				<img  src="<%- home_categories[i].c_headerMenuBanner %>"></a>	

			</div>
			<div class="content_slider">
			<% for (j in products[i]) { %>
				<div>
					<a href="/product?id=<%= products[i][j].product_id %>">
					<h4 class="product_name"> <%= products[i][j].product_name %> </h4>
					<img class="product_image" src="<%= products[i][j].image.link %>" >
					</a>
				</div>
			<% } %>
			</div>
		</div>
	<% } %>
	</div>

</body>
</html>
