	<div class="navbar navbar-default navbar-fixed-top" >
		<div class="container" >
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				

			</div>
			<a class="navbar-brand navbar-left" href="/"><img src="logo.png" style="height:35px;width:200px;"></a>
			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right">
					
					<li class="navbar-brand" id="home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</li>
					<li class="navbar-brand">
						<span type="button" class="dropdown-toggle" data-toggle="dropdown">
					    <span class="glyphicon glyphicon-th-list">		
						</span>&nbsp;Categories<b class="caret"></b>
					  	</span>

					  	<div class="dropdown-menu" id="categoryMenu">
					  		<ul>
					  		<% for (i in categories) { %>
					  			<li class="dropdown-item"><a href="/search?refine=cgid=<%= i %>"> <%= categories[i].name %></a></li>
					  				<ul>

					  					<% for (j in categories[i].subCategories) { %>
					  						<li><a href="/search?refine=cgid=<%= j %>"> <%= categories[i].subCategories[j] %></a></li>
					  					<% } %>
					  				</ul>
					  		<% } %>

					   		</ul>
					  	</div>

					</li>

					<li>
						<input id="searchBox"  autocomplete="off" data-toggle="dropdown" class="form-control mr-sm-2" type="text" placeholder="Search">
						<div id="suggestions" class="dropdown-menu">
							<ul id="suggestionsList">
							</ul>
						</div>

					</li>		    
	
					<li id="search" class="navbar-brand" style="margin-left: 10px;"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</li>
					<li id="cart" class="navbar-brand">
						<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Cart
						<div class="badge" id="numInCart"></div></li>					
					<li class="navbar-brand"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;About</li>




				</ul>
			</div>

		</div>

	</div>
	<script type="text/javascript">
		var timeout = null;
		console.log(document.cookie);
		$('#numInCart').html(getNumInCart());
		$('#home').click(function() {
			location.href='/';
		});
		$('#search').click(function() {
			location.href = "/search?q=" + $('#searchBox').val();
		});
		$("#cart").click(function() {
			location.href = "/cart";
		});
		$('#suggestions').hide();

		$('#searchBox').keyup(function(key) {


			if (key.which == 13) {
				location.href = "/search?q=" + $('#searchBox').val();
			}else {
				if ($('#searchBox').val().length >= 3) {
					if (timeout) clearTimeout(timeout);
					timeout = setTimeout(function() {
							console.log("TIMEOUT RETURNED");
							getSearchSuggestions();
					},500);
				}
			}
		});


		$('#searchBox').keydown(function() {
			$('#suggestions').hide();
			
		});
		function getSearchSuggestions() {
			console.log("GETTING SUGGESTIONS");
			$('#suggestionsList').html("");
			var data = {'q' : $("#searchBox").val()};
			var init = {
				method : "POST",
				body: JSON.stringify(data),
				headers : new Headers({
					'Content-Type' : 'application/json'
				}),
			}

			var p = fetch('/suggestions', init)
			.then((res) => res.json())
			.then((response) => {
				var sugs = JSON.parse(response);
				var products = sugs.product_suggestions.products;

				for (i in products) {
					$('#suggestionsList').append('<a href="/product?id=' + products[i].product_id + '""><li>' + products[i].product_name + ': $' + products[i].price + '</li></a>');
					console.log(i + ", " + sugs.product_suggestions.products[i].product_name);
				}
				if (products.length > 0) $('#suggestions').show();

			});

		}
		function getSessionId() {
			var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)session\s*\=\s*([^;]*).*$)|^.*$/, "$1");
			return cookieValue;
		}
		function getNumInCart() {
			var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)num\s*\=\s*([^;]*).*$)|^.*$/, "$1");
			return cookieValue;			
		}

	</script>


