<!DOCTYPE html>
<html>
<head>
<% include header_scripts %>
<script type='text/javascript' src='index.js'></script>
<link rel="stylesheet" href="index.css" type="text/css"></link>
</head>

<body>
	<% include navigation %>
		<br><br><br><br><br>

	<div style="width:70%;margin: auto;border:1px solid blue;background-color: white;padding:10px;">
		<h1> <%= name %> </h1>
		<img src="<%= image %>">
		<h4>Price: $<%= price %></h4>
		<p><%- description %> </p>
		<button id="addToCart">Add to Cart</button>
	</div>

	<script type="text/javascript">
		$('#addToCart').click(function() {
			console.log("CLICKED");
			var init = {
				method : "POST",
				body : JSON.stringify({
					product_id : '<%= id %>',
					session_id : getSessionId(),
				}),
				headers : new Headers({
					'Content-Type' : 'application/json'
				}), 
			}
			fetch('addToCart', init).then((res) => {
				return res.json();
			}).then((data) => {
				if (getNumInCart()) {
				document.cookie = "num=" + (parseInt(getNumInCart()) + 1);
				}else {
					document.cookie = "num=1";
				}
				console.log(getNumInCart());
				$('#numInCart').html(getNumInCart());
			});

		});



	</script>
</body>

</html>