<!DOCTYPE html>
<html>
<head>
<% include header_scripts %>
<script type='text/javascript' src='index.js'></script>
<link rel="stylesheet" href="index.css" type="text/css"></link>
</head>

<body>
	<% include navigation %>
	<br><br>
	<div id="content"style="margin-top: 30px;">
			<div id = "categoryHeader" style="background-color: #B3CBCE;">
		 		<h3 id="categoryName" style="margin-left:20px;"></h3>
		 		<h4 id="categoryDescription" style="margin-left:20px;"></h4>
		 			<ul id="subcategoryList" style="margin-left:20px;"></ul>
	
			</div>

		 <div style="margin-left: 5%">
			<h3 id="numResultsHeader"></h3>
			<Button onclick="prevPage()"> < Previous Page</Button>
			<Button onclick="nextPage()">Next Page ></Button>
			Results Per Page:  <select id="resultsPerPage">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select>
			Sort Results By:  <select id="sortBy" value="Best Matches">
				<option value="best-matches">Best Matches</option>
				<option value="most-popular">Most Popular</option>
				<option value="top-sellers">Top Sellers</option>
				<option value="price-low-to-high">Price: Low-to-High</option>
				<option value="price-high-to-low">Price: High-to-Low</option>
				<option value="product-name-ascending">Name: A-Z</option>
				<option value="product-name-descending">Name: Z-A</option>

			</select>
			Price Range :
				<input type="number" id="min" style="width:100px;">
				to
				<input type="number" id="max" style="width:100px;">
		</div>
		<br>


	</div>
	<div id="searchResults" style="width:85%;margin:auto;padding:10px;">
	</div>

	<script type="text/javascript">
		var url = (new URL(window.location)).searchParams
		var q = url.get('q') || "";
		var start = parseInt(url.get('start')) || 0;
		var end = url.get('count') ? start + parseInt(url.get('count')) : 25;
		var sort  = url.get('sort');
		var andSort = sort ? '&sort=' + sort : "";
		var refine = url.get('refine');
		var andRefine = refine ? '&refine=' + url.get('refine') : "";
		var min = getMin();
		var max = getMax();

		$(document).ready(function() {
			//fetch search results
			var query = window.location.href.split('?')[1];
			var init = {
				method : "POST",
				body: JSON.stringify({q : query}),
				headers : new Headers({
					'Content-Type' : 'application/json'
				}),
			}
			var p = fetch('/searchResults', init)
			.then((res) => {
				return res.json();
			})
			.then((response) => {
				var data = JSON.parse(response);
				var hits = data.hits;
				var count = data.total;
				if (hits) {
					//display category header info
					$('#numResultsHeader').html(`${count} results for <span id="q"></span>, displaying results ${1 + start} - ${Math.min(count,end)}`);
					if (andRefine.indexOf('cgid') != -1) {
						let cat = andRefine.split('cgid=')[1]
						$("#q").html(cat);
						fetchCategoryHeader(cat);
					} else {
						$('#q').html(q);			
					}
					
					//display search results
					for (let i in hits) {
						$("#searchResults").append(
						`
							<div class="product_search_result" style="border:1px solid black;margin-top:10px;display:none;">
								<a href="/product?id=${hits[i].product_id}">
								<h4 class="product_name">${hits[i].product_name}</h4>
								<img class="product_image" src="${hits[i].image.link}" style="margin-left:20px;">
								<h4>$${hits[i].price}</h4>
								</a>


							</div>
						`);
					}
					$(".product_search_result").fadeIn("slow");
				
				}else {
					$('#searchResults').append('<h1>No results!</h1>')
				}

			});

		});



		$('#resultsPerPage').val(<%= count %>);
		$('#min').val(min);
		$('#max').val(max);
		if (sort) $('#sortBy').val(sort);	
		function nextPage() {
			console.log("NEXT PLZ");
			
			location.href="/search?q=" + q + "&start=" +(<%= start%> + <%= count %>) + "&count=" + <%= count %> + andSort + andRefine;
			
		}
		function prevPage() {
			location.href="/search?q=" + q + "&start=" +(<%= start%> - <%= count %>) + "&count=" + <%= count %> + andSort + andRefine;

		}
		function refinePriceRange() {
			location.href="/search?q=" + q + "&start=" +<%= start%> + "&count=" + 
			<%= count %> + andSort + '&refine=price=(' +$('#min').val() +'..' + 
			$('#max').val() + ')';			
		}
		function getMin() {
			if (!refine) return "";
			var str = refine.split('(')[1];
			var min = parseInt(str);
			console.log(min);
			return isNaN(min) ? "" : min;
		}
		function getMax() {
			if (!refine) return "";
			var str = refine.split('..')[1];
			var max = parseInt(str);
			console.log(max);
			return isNaN(max) ? "" : max;		
		}
		function fetchCategoryHeader(category) {
			var init = {
				method : "POST",
				body: JSON.stringify({category : category}),
				headers : new Headers({
					'Content-Type' : 'application/json'
				}),
			};

			var p = fetch('/getCategoryHeader', init)
			.then((res) => {
				return res.json();
			})
			.then((response) => {
				var data = JSON.parse(response);
				console.log(data);
				$('#content').prepend(`
					<div id="header" style="background-color: white;min-height: 100px;background-color: #B3CBCE;">
		 				<h3 style="margin-left:20px;"> <font color="blue">Category: </font>${data.name} </h3>
		 				${data.c_headerMenuBanne || ""}
		 				<h4 style="margin-left:20px;"> ${data.page_description} </h4></div>`);
				if (data.categories) {
					$('#header').append(`

		 			<span style="margin-left:20px;" >Browse Subcategories:</span><br>
		 			<ul style="margin-left:50px;">`);
		 			for (i in data.categories) {
		 				$('#header').append(`

			 			<li style="margin-left:40px;"><a href="/search?refine=cgid=${data.categories[i].id}">               ${data.categories[i].name} </a>
			 			</li>
			 		

		 				`);

		 			}
		 			$('#header').append('</ul>');
				}

			});

		}

		$('#resultsPerPage').change(function() {

			location.href="/search?q=" + q + andSort + andRefine + "&start=" + <%=start%> + "&count=" +  $('#resultsPerPage').val()
		});
		$('#sortBy').change(function() {
			
			location.href="/search?q=" + q + '&count=<%=count%>&sort='  + $('#sortBy').val() + andRefine;
		});
		$('#min').keyup(function(key) {
			if (key.which == 13) refinePriceRange();
		});
		$('#max').keyup(function(key) {
			if (key.which == 13) refinePriceRange();
		});
	</script>
</body>
</html>