#searchBox {
	margin-top: 10px;
}

.content_slider {

	border: 1px solid blue;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	margin-top: 20px;
	background-color : white;


}

.category_name {
	display:inline;
	font-size : 50px;
	margin-right: 50px;

}
.product_image {
	display:inline;

	height: 150px;
	width: 150px;
	vertical-align: bottom;

}

.product {
	display: inline-block;


}
.product_search_result {
	display:inline-block;
	background-color: white;
	width: 200px;



}

.product_name {
	max-width: 200px;
	overflow-wrap: break-word;
	font-family: cursive;
	font-size: 10px;

}

.category {
	margin:auto;
	width:80%;
	padding:10px;
	border: 2px solid white;
		background-color : #B3CBCE

}

.category_header {
	color:white;
}
img {
	max-height: 150px;
}

body {
	background-color : #B3E7ED;
}

.badge {
  height: 10px;
  width: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: red;
}

tr {
	padding: 5px;
}
